/* Database Authorization failed for e.g. dbNoAuthorization.php */
.authorization_failed {
    text-align:center;
}

.authorization_failed h1 {
    color:#ff0000;
    font-size:40px;
}
.authorization_failed p {
    font-size:20px;
}
.authorization_failed #authorization_error_pic {
    width:40%;
    height:auto;
}